*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125em;
  line-height: 1.5em;
  background: #ecf2f8;
}

body * + * {
  margin-top: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: "Barlow Semi Condensed", sans-serif;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 6em 1.5em 1em 1.5em;
}
.container__inner-second {
  margin-top: 0;
}

.testimonial-card {
  padding: 1.5em;
  border-radius: 0.8em;
  margin-bottom: 25px;
}
.testimonial-card__profile {
  display: flex;
  align-items: center;
}
.testimonial-card__profile .photo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ecf2f8;
}
.testimonial-card__profile .name-status {
  margin-top: 0;
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
}
.testimonial-card__profile .name-status__name {
  font-size: 1.2em;
  font-weight: 600;
}
.testimonial-card__profile .name-status__status {
  margin-top: 0;
  font-size: 0.9em;
}
.testimonial-card__summary {
  line-height: 1.7em;
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 0.5em;
}
.testimonial-card__summary .summary-text {
  margin-top: 0;
}
.testimonial-card--first {
  background-image: url("../images/bg-pattern-quotation.svg");
  background-color: #7541c8;
  background-repeat: no-repeat;
  background-position: right 20px top;
  background-size: 100px 100px;
}
.testimonial-card--first .photo img {
  border: 2px solid rgba(207, 207, 207, 0.5);
}
.testimonial-card--first .name-status__name {
  color: #cfcfcf;
}
.testimonial-card--first .name-status__status {
  color: rgba(207, 207, 207, 0.5);
}
.testimonial-card--first .summary-text {
  color: white;
}
.testimonial-card--first .details-text {
  color: rgba(207, 207, 207, 0.7);
}
.testimonial-card--second {
  background-color: #48556a;
}
.testimonial-card--second .photo img {
  border: 2px solid rgba(207, 207, 207, 0.5);
}
.testimonial-card--second .name-status__name {
  color: #cfcfcf;
}
.testimonial-card--second .name-status__status {
  color: rgba(207, 207, 207, 0.5);
}
.testimonial-card--second .summary-text {
  color: white;
}
.testimonial-card--second .details-text {
  color: rgba(207, 207, 207, 0.7);
}
.testimonial-card--third {
  background-color: white;
}
.testimonial-card--third .photo img {
  border: 2px solid rgba(207, 207, 207, 0.5);
}
.testimonial-card--third .name-status__name {
  color: #48556a;
}
.testimonial-card--third .name-status__status {
  color: rgba(72, 85, 106, 0.5);
}
.testimonial-card--third .summary-text {
  color: #48556a;
}
.testimonial-card--third .details-text {
  color: rgba(72, 85, 106, 0.7);
}
.testimonial-card--fourth {
  background-color: #19212e;
}
.testimonial-card--fourth .photo img {
  border: 2px solid #7541c8;
}
.testimonial-card--fourth .name-status__name {
  color: white;
}
.testimonial-card--fourth .name-status__status {
  color: rgba(255, 255, 255, 0.5);
}
.testimonial-card--fourth .summary-text {
  color: white;
}
.testimonial-card--fourth .details-text {
  color: rgba(255, 255, 255, 0.7);
}
.testimonial-card--fifth {
  background-color: white;
  margin-top: 25px;
  margin-bottom: 0;
}
.testimonial-card--fifth .photo img {
  border: 2px solid rgba(207, 207, 207, 0.5);
}
.testimonial-card--fifth .name-status__name {
  color: #48556a;
}
.testimonial-card--fifth .name-status__status {
  color: rgba(72, 85, 106, 0.5);
}
.testimonial-card--fifth .summary-text {
  color: #48556a;
}
.testimonial-card--fifth .details-text {
  color: rgba(72, 85, 106, 0.7);
}

footer {
  margin-top: 1.5em;
  margin-bottom: 10em;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
  padding: 0.8em;
}
footer .attribution, footer .attribution a {
  color: #48556a;
}
footer .attribution a:hover,
footer .attribution a:focus,
footer .attribution a:active {
  color: #19212e;
}
footer .attribution span {
  display: block;
}
footer .attribution span + span {
  margin-top: 0;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    display: flex;
    flex-direction: row;
    padding: 6em 3em 3em 3em;
  }
  .container .testimonial-outer-wrapper {
    display: flex;
  }
  .container__inner-first {
    flex-basis: 77%;
    display: flex;
    flex-direction: column;
  }
  .container__inner-second {
    flex-basis: 23%;
    display: flex;
    align-items: stretch;
    margin-left: 2em;
  }
  .container .testimonial-card {
    margin-top: 0;
    margin-bottom: 0;
  }
  .container .testimonial-outer-wrapper--top .testimonial-card--first {
    margin-right: 2em;
    background-position: right 70px top;
    background-size: 100px 107px;
  }
  .container .testimonial-outer-wrapper--bottom {
    margin-top: 2em;
  }
  .container .testimonial-outer-wrapper--bottom .testimonial-card--third {
    margin-right: 2em;
  }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 8em 6em 2em 6em;
  }

  .testimonial-outer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .testimonial-card {
    width: 80%;
  }
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 8em 6em 2em 6em;
  }

  .testimonial-outer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .testimonial-card {
    width: 80%;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 7em 3.5em 2em 3.5em;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/*# sourceMappingURL=styles.css.map */
